.modal-preview-gift-card-wrap {
      position: relative;
}

.click-image-wrap {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .click-image-link {
        
  }